doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Diplomová práca

        meta(name="author" content="Michal Jurečko")

        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

        meta(name="viewport" content="width=device-width,"
        + "initial-scale=1.0,"
        + "maximum-scale=1.0,"
        + "user-scalable=no")

        link(rel="stylesheet" href="index.css")

    body
        .reveal
            .slides
                // Uvod
                section
                    h5 Technická univerzita v Košiciach
                    h5 Fakulta elektrotechniky a informatiky
                    h1.title Webová administrácia databázy Mongo
                    h4.url https://github.com/mongoeye
                    h2 Michal Jurečko
                    h3 Školiteľ: Ing. Branislav Madoš, PhD.
                section
                    h1 Databáza
                    ul
                        li dáta + rozhranie
                        li oddeľuje od internej reprezentácie
                        li dopytovancí jazyk - štandardné operácie
                        li #[strong relačné databázy] - 1970 E. F. Codd
                        li #[strong NoSQL databázy] - 2000
                        li SQL / NoSQL
                section
                    h1 BigData
                    p rok 2000
                    ul
                        li Objem
                        li Rýchlosť
                        li Rozmanitosť
                        li Nejednoznačnosť
                section
                    h1 SQL / NoSQL
                    ul
                        li konzistencia / dostupnosť
                        li transakcie ACID / BASE
                        li štruktúra údajov, schéma
                        li #[strong BigTable] - Google
                        li #[strong DynamoDB] - Amazon
                        li #[strong 150+]

                section(data-background-color="#ffffff", data-background-image="static/img/mongodb.png", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/mongodb.png", data-background-size="contain")
                    h4.text https://db-engines.com/en/ranking
                    ol.text
                        li Oracle
                        li MySQL
                        li Microsoft SQL Server
                        li PostgreSQL
                        li #[strong MongoDB]
                        li DB2
                section(data-background-color="#ffffff", data-background-image="static/img/document_db.svg", data-background-size="contain")
                section(data-background-color="#000000", data-background-video="static/video/console.webm", data-background-size="contain")
                section(data-background-color="#000000", data-background-video="static/video/webui.mp4", data-background-size="contain")
                section(data-background-color="#000000", data-background-video="static/video/github.mp4", data-background-size="contain")

        script(src="index.js")
        script(src="notes.js")
