doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Diplomová práca

        meta(name="author" content="Michal Jurečko")

        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

        meta(name="viewport" content="width=device-width,"
        + "initial-scale=1.0,"
        + "maximum-scale=1.0,"
        + "user-scalable=no")

        link(rel="stylesheet" href="index.css")

    body
        .reveal
            .slides
                // Uvod
                section
                    h5 Technická univerzita v Košiciach
                    h5 Fakulta elektrotechniky a informatiky
                    h1.title Webová administrácia databázy Mongo
                    h4.url https://github.com/mongoeye
                    h2 Michal Jurečko
                    h3 Školiteľ: Ing. Branislav Madoš, PhD.
                section
                    h1 SQL / NoSQL
                    ul
                        li databáza oddeľuje#[br]od internej reprezentácie
                        li #[strong relačné databázy] - 1970 E. F. Codd
                        li #[strong NoSQL databázy] - 2000
                section
                    h1 BigData
                    p rok 2000
                    ul
                        li Objem
                        li Rýchlosť
                        li Rozmanitosť
                        li Nejednoznačnosť
                section
                    h1 SQL / NoSQL
                    ul
                        li konzistencia / dostupnosť
                        li transakcie ACID / BASE
                        li štruktúra údajov, schéma
                        li #[strong BigTable] - Google
                        li #[strong DynamoDB] - Amazon
                        li #[strong 150+]

                section(data-background-color="#ffffff", data-background-image="static/img/mongodb.png", data-background-size="contain")
                section
                    h4.text https://db-engines.com/en/ranking
                    ol
                        li Oracle
                        li MySQL
                        li Microsoft SQL Server
                        li PostgreSQL
                        li #[strong MongoDB]
                        li DB2
                section(data-background-color="#ffffff", data-background-image="static/img/document_db.svg", data-background-size="contain")
                section
                    h1 Administračný nástroj
                    ul
                        li základné operácie nad údajmi
                        li celkový pohľad na údaje
                        li odhaľovanie problémov
                        li zrýchľuje vývoj
                section
                    h1 Existujúce nástroje
                    ul
                        li #[strong Mongoclient] (web)
                        li #[strong Studio3T] (desktop)
                        li #[strong Robomongo] (desktop)
                        li #[strong HumongouS.io] (web)
                        li #[strong Variety.js] (konzola)
                        li #[strong Schema.js] (konzola)
                        li #[strong MongoDB Compass] (desktop)
                section(data-background-color="#000000", data-background-image="static/img/studio3t.png", data-background-size="contain")
                section(data-background-color="#000000", data-background-image="static/img/variety.png", data-background-size="contain")
                section(data-background-color="#000000", data-background-image="static/img/compass.png", data-background-size="contain")
                section
                    h1 Existujúce nástroje
                    ul
                        li malá rýchlosť
                        li slabá kvalita (open-source)
                        li vysoká cena (komerčné riešenia)
                        li #[strong chýbajúca analýza schémy]
                        li rôzne dalšie obmedzenia
                section(data-background-color="#ffffff", data-background-image="static/img/exists_graph.svg", data-background-size="contain")
                section(data-background-color="#ffffff")
                    div.img
                        img(src="static/img/logo_name.svg")
                section(data-background-color="#ffffff", data-background-image="static/img/blokova_schema.svg", data-background-size="contain")
                section
                    h1 Analýza schémy
                    ul
                        li operácia MapReduce
                        li agregačný nástroj
                        li lokálna analýza
                section(data-background-color="#ffffff", data-background-image="static/img/agg_map.svg", data-background-size="contain")
                section
                    h1 Analýza schémy
                    ul
                        li #[strike operácia MapReduce]
                            ul
                                li rýchlosť
                                li BSON -> JSON
                                li limit - viacero uzlov
                        li agregačný nástroj
                        li lokálna analýza
                section
                    h1 Mongoeye
                    ul
                        li lokálny algoritmus
                        li agregačný algoritmus
                        li Windows, Linux, MacOS
                section(data-background-color="#ffffff", data-background-image="static/img/analyzator_vseobecne.svg", data-background-size="contain")
                section
                    h1 Lokálny algoritmus
                    ul
                        li #[strong kompilovaný jazyk Go]
                        li #[strong práca s binárnymi údajmi]
                        li paralelné procesy
                section
                    h1 Agregačný algoritmus
                    ul
                        li generovanie príkazov#[br]pre agregačný nástroj
                        li spracovanie výsledkov
                section(data-background-color="#ffffff", data-background-image="static/img/final_graph.svg", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/depth2.svg", data-background-size="contain")
                section(data-background-color="#000000", data-background-video="static/video/console.webm", data-background-size="contain")
                section(data-background-color="#000000", data-background-video="static/video/webui.mp4", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/github.png", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/godoc.png", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/coveralls.png", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/travisci.png", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/report.png", data-background-size="contain")
                section
                    h1 Prínosy riešenia
                    ul
                        li vytvorený nástroj #[strong MongoEYE]#[br]je rýchlejší ako všetky existujúce
                        li rôzne formáty výstupu
                        li jeden binárny súbor
                        li webové rozhranie
                        li open-source
                        li široké možnosti rozšírenia
                section(data-background-color="#ffffff", data-background-image="static/img/scale.svg", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/cap.svg", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/pacelc.svg", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/component.svg", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/analyzator_local.svg", data-background-size="contain")
                section(data-background-color="#ffffff", data-background-image="static/img/analyzator_agg.svg", data-background-size="contain")


        script(src="index.js")
        script(src="notes.js")
